@charset "euc-kr";
*{-webkit-text-size-adjust:none}
html{height:100%}
body{background:#fff;font-size:14px;color:#333;-webkit-user-select:none;-webkit-touch-callout:none;-moz-user-select:none;-ms-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td,button{margin:0;padding:0;font-family:'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;font-weight:normal}
section,nav,article,aside,hgroup,header,footer,iframe{display:block}
form,fieldset,img{border:0 none}
table{border-spacing:0;border:0}
em{font-style:normal}
ul,ol,li{list-style:none outside}
input,select{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-appearance:none;-webkit-border-radius:0;vertical-align:middle}
a{text-decoration:none;color:#333}
li,p,dt,dd,div,span,td,th{word-break:break-all;word-wrap:break-word}
legend, .hidden{overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:1px;line-height:0}
caption{overflow:hidden;margin-left:-9999px;width:1px;height:1px;font-size:1px;line-height:0}
.skip{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:1px;line-height:0}
input[type='text'], input[type='password'], input[type='tel'],
input[type='number'], input[type='search'], input[type='email'], input[type='date']{-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
button, input[type='button'], input[type='submit'], input[type='reset']{cursor:pointer;border-radius:0-webkit-border-radius:0;-webkit-appearance:none;border:0;vertical-align:middle;background-color:none}
select{width:100%;-webkit-border-radius:0;border-radius:0;-webkit-appearance:none;-moz-appearance:none;height:35px;border:1px solid #ccc;padding:0 10px;background:url(../../img/common/bg_select.png) no-repeat;background-position:right 50%;background-size:26px 6px;outline:none}
select.on{border:1px solid #ea002c}
textarea{width:100%;padding:10px;-webkit-border-radius:0;border-radius:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}

/* footer */
footer{overflow:hidden;width:100%;padding:0 15px 30px;border-top:1px solid #e4e4e4;background:#f7f7f7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
footer a span{display:block;overflow:hidden;background:url(../../img/common/ico_foot.png) no-repeat;-webkit-background-size:192px 52px;-moz-background-size:192px 52px;-o-background-size:192px 52px;background-size:192px 52px;font-size:11px;color:transparent;line-height:0;}
.footDownapp{overflow:hidden;width:100%;padding:10px;border-bottom:1px dashed #e4e4e4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.footDownapp strong{float:left;margin-top:10px;font-family:'Roboto';font-size:11px;color:#666}
.footDownapp .appCon{float:right}
.footDownapp a{display:inline-block;width:24px;height:24px;padding:5px}
.footDownapp a span{width:24px;height:24px;background-position:0 0}
.footDownapp a+a span{background-position:-24px 0}
.footDownapp a+a+a span{background-position:-48px 0}
.footSns{clear:both;overflow:hidden;padding:10px 0;border-bottom:1px dashed #e4e4e4}
.footSns a{float:left;width:14.2%;padding:5px 0}
.footSns a span{width:27px;height:27px;margin:0 auto;background-position:0 -24px}
.footSns a+a span{background-position:-27px -24px}
.footSns a+a+a span{background-position:-54px -24px}
.footSns a+a+a+a span{background-position:-81px -24px}
.footSns a+a+a+a+a span{background-position:-108px -24px}
.footSns a+a+a+a+a+a span{background-position:-135px -24px}
.footSns a+a+a+a+a+a+a span{background-position:-162px -24px}
.footMenu{clear:both;overflow:hidden;padding:10px;text-align:center}
.footMenu a{position:relative;float:left;padding:5px 0;font-size:12px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.footMenu a:nth-child(1){width:18%}
.footMenu a:nth-child(2){width:40%}
.footMenu a:nth-child(3){width:24%}
.footMenu a:nth-child(4){width:18%}
.footMenu a:after{content:'';position:absolute;top:50%;right:0;width:1px;height:12px;margin-top:-6px;background:#d7d7da}
.footMenu a:last-child:after{display:none}
footer p{padding:0 5px;font-size:11px;color:#999;line-height:18px;text-align:center}
@media all and (max-width:337px){
footer p{letter-spacing:-1px}
}
footer small{display:block;margin-top:15px;font-family:'Roboto';font-size:11px;color:#999;text-align:center}

/* button */
.btnBox{overflow:hidden}
.btnBox:after{content:'';display:block;clear:both}
.btnBox span{float:left;width:100%}
[class^="btn"]{text-align:center;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
[class^="btn"][class*="col"]{margin:0 -5px}
[class^="btn"][class*="col"] span{padding:0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btnBox.col2 span{width:50%}
.btnBox.col3 span{width:33.3%}
.btnRed{background:#ea002c;color:#fff}
.btnBlack{background:#323040;color:#fff}
.btnGray{background:#e2e2e4}
.btnL, .btnL2{display:inline-block;width:100%;height:45px;padding:0 20px;font-size:15px;line-height:45px}
.btnL2{width:auto !important;min-width:90px}
.btnS{display:inline-block;min-width:75px;height:35px;padding:0 15px;font-size:13px;line-height:35px}

/* paging
.pager{position:relative;height:30px;padding:10px 0 0;text-align:center}
.pager > *{display:inline-block;width:25px;height:25px;color:#666;font-size:14px;line-height:25px;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:1px;border-radius:1px}
.pager a.on{border:1px solid #ed1b25;color:#fff;font-weight:bold;line-height:23px;background:#ed1b25}
.pager .prevFirst,
.pager .prev,
.pager .next,
.pager .nextLast{position:relative;width:37px;border:1px solid #dedfe2;color:transparent;font-size:10px}
.pager .prev{margin-right:10px}
.pager .next{margin-left:10px}
.pager .prev:before,
.pager .next:before{content:'';position:absolute;top:50%;left:50%;width:8px;height:12px;margin:-6px 0 0 -4px;background-image:url('../../img/pages.png');background-repeat:no-repeat;background-size:18px 12px}
.pager .prev:before{background-position:0 0}
.pager .next:before{background-position:-10px 0}*/

/* arcodiam */
.arcBox{border-bottom:1px solid #e4e4e4}
.arcBox li{width:100%;border-top:1px solid #e4e4e4}
.arcBox li .question{display:block;overflow:hidden;position:relative;width:100%;padding:15px 46px 15px 40px;font-size:12px;background:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left}
.arcBox li:nth-child(odd) .question{background:#f7f7f8}
.arcBox li .question:before{content:'';display:block;position:absolute;top:18px;left:15px;width:9px;height:13px;background:url(../../img/common/bg_arctxt.png) no-repeat 0 0;-webkit-background-size:28px 13px;-moz-background-size:28px 13px;-o-background-size:28px 13px;background-size:28px 13px}
.arcBox li.on .question:before{background-position:-9px 0}
.arcBox li.on .question{background:#ed1d25;color:#fff}
.arcBox li .question:after{content:'';display:block;position:absolute;top:50%;right:10px;width:16px;height:16px;margin:-8px 0 0 -8px;background:url(../../img/common/bg_figure.png)no-repeat;background-position:0 -24px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.arcBox li.on .question:after{background-position:-16px -24px}
.arcBox li .answer{display:none;position:relative;margin:0;padding:20px 12px 20px 40px;font-size:12px;color:#555;line-height:19px}
.arcBox li .answer:before{content:'';display:block;position:absolute;top:25px;left:15px;width:10px;height:11px;background:url(../../img/common/bg_arctxt.png) no-repeat -18px 0;-webkit-background-size:28px 13px;-moz-background-size:28px 13px;-o-background-size:28px 13px;background-size:28px 13px}
.arcBox li.on .answer{display:block}

/* calendar */
.calendar{display:inline-block;position:relative;width:100%;height:35px;z-index:1;border:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.calendar *{vertical-align:middle}
.calendar+em{display:table-cell;width:17px;font-size:13px;text-align:center}
.calendar input[type='text']{width:100%;height:33px;padding:0 0 0 10px;border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.calendar button.calBtn{position:absolute;top:0;right:0;width:36px;height:33px;background:url(../../img/common/bg_form.png);background-repeat:no-repeat;background-position:0 -264px;-webkit-background-size:40px 540px;-moz-background-size:40px 540px;-o-background-size:40px 540px;background-size:40px 540px;font-size:0;color:transparent;line-height:0;}
.calendar.on{border-color:#ea002c}
.calendar.on button.calBtn{background-position:0 -290px}
.calendar.on .calBox{display:block}
.calWrap{position:relative}
.calBox{display:none;position:absolute;top:40px;left:0;z-index:1;width:100%;border:1px solid #ea002c;background:#fff}
.calTop{position:relative;height:90px;background:#ea002c}
.calTop button{display:block;position:absolute;top:39px;width:40px;height:40px;background:url(../../img/common/bg_form.png);background-repeat:no-repeat;background-position:0 -216px;background-size:40px 540px;-webkit-background-size:40px 540px;-moz-background-size:40px 540px;-o-background-size:40px 540px;font-size:0;color:transparent;line-height:0;}
.calTop .first{left:5px;background-position:0 -350px}
.calTop .prev{left:45px;background-position:0 -400px}
.calTop .next{right:45px;background-position:0 -450px}
.calTop .end{right:5px;background-position:0 -500px}
.calTop p{padding:22px 0 0;font-size:45px;font-weight:bold;color:#fff;text-align:center}
.calTop .year{display:block;position:absolute;top:12px;left:50%;margin-left:-20px;font-size:17px;font-weight:bold}
.calBox table{width:100%}
.calBox th{padding:10px 0 5px;font-size:16px;font-weight:bold}
.calBox td{font-weight:bold;color:#888;text-align:center}
.calBox td a{display:block;padding:11px 0;color:#888}
.calBox tbody tr:first-child td{padding-top:0}
.calBox td.today{background:#ea002c}
.calBox td.today a{color:#fff}
.calWrap .btn{width:100%;background:#dbd9d9;border-top:1px solid #dbd9d9}
.calWrap .btn button{float:left;display:block;width:50%;height:45px;margin:0;padding:0;background:#f7f7f7;font-size:12px;font-weight:bold;color:#666;text-align:center;vertical-align:top}
.calWrap .btn .today{width:50%;border-right:1px solid #dbd9d9}

/* table */
.tableType{width:100%;border-top:2px solid #ea002c}
.tableType th{padding:10px;background:#f7f7f8;border-bottom:1px solid #e4e4e4;font-weight:bold;color:#333;text-align:left}
.tableType td{padding:10px;border-bottom:1px solid #e4e4e4}
.tableType td *{vertical-align:middle}
.tableType .formArea{margin-top:5px}

/* form */
.formWrap{display:inline-block}
.formWrap+.formWrap{margin-left:15px}
.formArea{display:table;width:100%;table-layout:fixed;vertical-align:top}
.formArea > *{display:table-cell}
.hyphen{width:14px;text-align:center}
.wave{width:17px;text-align:center}
.empty{width:5px;text-align:center}
.emailEmpty{width:20px;text-align:center}
input[type='checkbox']+label:before,
input[type='radio']+label:before{content:'';display:inline-block;width:24px;height:24px;margin-top:-5px;padding-left:8px;background:url(../../img/common/bg_form.png) no-repeat 0 0;-webkit-background-size:40px 540px;-moz-background-size:40px 540px;-o-background-size:40px 540px;background-size:40px 540px;vertical-align:middle;}
input[type='radio']+label:before{background-position:0 -136px;}
input[type='checkbox'],
input[type='radio']{position:absolute;width:24px;height:24px;margin:0;opacity:0}
input[type='checkbox']+label.focus,
input[type='radio']+label.focus{border:1px dotted #ea002c}
input[type='checkbox']+label,
input[type='radio']+label{display:inline-block;min-height:18px;}
.formWrap.checked input[type='checkbox']+label:before{background-position:0 -68px}
.formWrap.disabled input[type='checkbox']+label:before{background-position:0 -34px}
.formWrap.checked input[type='radio']+label:before{background-position:0 -204px}
.formWrap.disabled input[type='radio']+label:before{background-position:0 -170px}
.rdDisabled:before{background-position:0 -238px !important}
.inputTxt1{width:100%;height:35px;padding:0 10px;border:1px solid #ccc}
.inputTxt1:focus{border:1px solid #ea002c}
.inputTxt2{background:#f7f7f7}
input[type='text']:disabled{background:#eee;color:#888}
.searchCon{overflow:hidden;position:relative}
.searchCon .srch{width:100%;position:relative;height:35px;padding-right:36px;border:1px solid #d9d9d9;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.searchCon .srch.on{border:1px solid #ea002c}
.searchCon .srch input[type='search']{display:block;width:100%;height:34px;padding:1px 0 0 8px;background:transparent;font-size:13px;color:#454444;border:0;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.searchCon .srch input[type='search']::-webkit-input-placeholder{color:#888}
.searchCon .srch input[type='search']::-moz-placeholder{color:#888}
.searchCon .srch input[type='search']::-ms-input-placeholder{color:#888}
.searchCon .srch button{overflow:hidden;position:absolute;top:0;right:0;width:36px;height:33px;border:none;background:url(../../img/common/bg_form.png) no-repeat 0 -315px;-webkit-background-size:40px 540px;-moz-background-size:40px 540px;-o-background-size:40px 540px;background-size:40px 540px;font-size:0;color:transparent;line-height:0;}

/*slide*/
.slideBox{position:relative;background:#efefef}
.slideNavi{position:absolute;left:50%;bottom:5px;z-index:1;margin-left:-70px;text-align:center;}
.slideNavi ul{float:left;margin-top:5px}
.slideNavi li{display:inline-block;vertical-align:middle;}
.slideNavi a,.slideNavi button{display:block;width:9px;height:9px;padding:0;background:url(../../img/common/bg_figure.png) no-repeat 0 0;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px;color:transparent;font-size:0;line-height:0;}
.slideNavi li.on a{width:41px;height:5px;background-position:-9px -2px}
.slideNavi .btnPlay{float:left;width:16px;height:17px;margin:8px 0 0 5px;background-position:-51px 0}
.slideNavi .btnStop{background-position:-67px 0}
/*.slideCon{overflow:hidden;width:700px;height:150px;margin:0 auto}
.slideCon ul>li{float:left;width:100%;height:150px;background:#ddd;text-align:center}
.slideBox .btnPrev{position:absolute;left:5px;top:50%;width:30px;height:30px;margin-top:-15px;border:1px solid #ea002c}
.slideBox .btnNext{position:absolute;right:5px;top:50%;width:30px;height:30px;margin-top:-15px;border:1px solid #ea002c}*/

/* tab */
.tabType1{position:relative}
.tabType1:after{content:'';display:block;clear:both}
.tabType1 ul{overflow:hidden;width:100%}
.tabType1 li{float:left;width:50%}
.tabType1 .col3 li{width:33.3%}
.tabType1 .col3 li:last-child{width:33.4%}
.tabType1 .col3 li:last-child a{border-left:none}
.tabType1 li a{display:block;width:100%;padding:10px 0;color:#555;font-size:13px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;border:1px solid #ccc}
.tabType1 li:first-child a{border-right:none}
.tabType1 li.on a{color:#fff;font-weight:bold;background:#e9002d;margin-bottom:-1px;border: 1px solid #e9002d}
.tabType1.tabDepth2{padding-bottom:60px}
.tabType1 .tabSub{overflow:hidden;clear:both;position:absolute;top:35px;left:0;margin-top:10px;border-bottom:1px solid #e0e0e0}
.tabType1 .tabSub li{float:left;width:25%}
.tabType1 .tabSub.col2 li{width:23%}/* 가이드기준으로 임시작업된 css */
.tabType1 .tabSub.col2 li:last-child{width:31%}/* 가이드기준으로 임시작업된 css */
.tabType1 .tabSub li a{display:block;position:relative;width:100%;padding:10px 0;font-size:12px;color:#888;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;border:none;background:none;letter-spacing:-1px}
.tabType1 .tabSub li span{display:block;position:relative;padding:0 5px}
.tabType1 .tabSub li span:after{content:'';position:absolute;top:50%;right:0;width:1px;height:12px;margin-top:-6px;background:#e4e4e4}
.tabType1 .tabSub li:last-child span:after{display:none}
.tabType1 .tabSub li.on a{color:#333}
.tabType1 .tabSub li.on a:before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:2px;background:#333}
.tabMulti{content:'';display:block;clear:both}
.tabMulti ul{overflow:hidden;width:100%;border:1px solid #ccc;border-bottom:none}
.tabMulti ul li{position:relative;float:left;width:33.3%}
.tabMulti ul li:before{content:'';position:absolute;top:0;right:0;width:1px;height:100%;background:#ccc}
.tabMulti ul li:nth-child(3n){width:33.4%}
.tabMulti ul li:nth-child(3):before,
.tabMulti ul li:nth-child(6):before,
.tabMulti ul li:nth-child(9):before{display:none}
.tabMulti ul li:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#ccc}
.tabMulti ul li a{display:block;padding:10px 0;font-size:12px;color:#555;text-align:center}
.tabMulti ul li.on a{background:#e9002d;color:#fff}

/* step */
.steptype1{overflow:hidden;display:table;border:1px solid #e4e4e4;width:100%}
.steptype1 li{position:relative;display:table-cell;width:50%;vertical-align:middle;background:#fff;font-size:12px;color:#666}
.steptype1.col3 li{width:33.9%}
.steptype1.col4 li{width:25%}
.steptype1 li span{display:block;padding:10px 20px;width:100%;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.steptype1 li span:before{content:'';display:block;width:0;height:0;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:20px solid #fff;position:absolute;top:50%;right:1px;margin-top:-50px;z-index:2}
.steptype1 li span:after{content:'';display:block;width:0;height:0;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:20px solid #e4e4e4;position:absolute;top:50%;right:0;margin-top:-50px;z-index:1}
.steptype1 li:last-child span:before,
.steptype1 li:last-child span:after{display:none}
.steptype1 li.on {color:#fff;background:#ea002c}
.steptype1 li.on span:before{content:'';display:block;width:0;height:0;border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:20px solid #ea002c;position:absolute;top:50%;right:1px;margin-top:-50px;z-index:2}
.steptype1 li.on span:after{content:'';display:block;width:0;height:0;border-top:50px solid #fff;border-bottom:50px solid #fff;border-left:20px solid #ea002c;position:absolute;top:50%;right:0;margin-top:-50px;z-index:1}
.steptype1 li:last-child.on span:after{border-top:50px solid transparent;border-bottom:50px solid transparent}
.steptype1 li.end{background:#f5f5f5}
.steptype1 li.end span:before{border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:20px solid #f5f5f5}
.steptype1 li.end span:after{border-top:50px solid #ea002c;border-bottom:50px solid #ea002c;border-left:20px solid #ea002c}
.steptype1 li.end.bg span:after{border-top:50px solid transparent;border-bottom:50px solid transparent;border-left:20px solid #e4e4e4}

/* list */
.listType{border-top:1px solid #ea002c}
.listType span{display:block}
.listType .date{margin-top:5px;font-size:11px}
.listType li{width:100%;position:relative;border-bottom:1px solid #e4e4e4}
.listType li a{display:block;overflow:hidden;padding:11px 37px 11px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.listType li a:after{content:'';position:absolute;top:50%;right:15px;width:7px;height:12px;margin-top:-6px;background:url(../../img/common/bg_figure.png) no-repeat -32px -24px;color:transparent;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.listType li a .tit{overflow:hidden;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;text-overflow:ellipsis;word-wrap:break-word;line-height:17px;height:16px}
.listType li a .date{margin-top:5px;font-size:11px}
.listType dl{margin-bottom:20px}
.listType dt.listTit{padding:11px 15px;border-bottom:1px solid #e4e4e4;line-height:18px}
.listType dd.listCon{padding:20px 15px;border-bottom:1px solid #e4e4e4;font-size:12px;color:#666;}






