@charset "euc-kr";

/* 상품_요금상품 */
.prSearch{text-align:center;padding:30px 0;overflow:hidden}
.prSearch .srchTit{display:block;font-size:17px;color:#333;margin-bottom:15px}
.prSearch .searchArea{font-size:17px}

.recommArea{background:#434159;padding:25px 0 30px;overflow:hidden}
.recommArea h2{text-align:center;color:#fff;padding-bottom:5px}
.recommArea .cont{background:#fff;text-align:center;padding-bottom:25px}
.recommArea .cont .bestNum{display:block;position:absolute;left:50%;top:0;width:45px;margin-left:-23px;height:39px;line-height:28px;font-size:15px;font-weight:bold;color:#fff;background:url(../../img/product/bg_best.png) no-repeat 0 0;background-size:45px 39px;-webkit-background-size:45px 39px;-moz-background-size:45px 39px;-o-background-size:45px 39px}
.recommArea .cont .bestTit{display:block;font-size:20px;line-height:23px;padding-top:8px}
.recommArea .cont .combiProduct, .recommArea .cont .dataProduct{padding:20px 0}
.recommArea .cont .combiProduct ul, .recommArea .cont .dataProduct ul{display:table;margin:0 auto}
.recommArea .cont .combiProduct ul li{position:relative;display:table-cell;text-align:center;min-width:56px;padding:0 10px;vertical-align:top}
.recommArea .cont .combiProduct ul li strong, .recommArea .cont .dataProduct ul li strong{display:block;padding-top:5px;font-size:12px;letter-spacing:-0.5px}
.recommArea .cont .combiProduct ul li:before{content:'';display:inline-block;position:absolute;left:-10px;top:0;width:15px;height:47px;background:url(../../img/product/bg_cb.png) no-repeat 0 0;background-size:15px 47px;-webkit-background-size:15px 47px;-moz-background-size:15px 47px;-o-background-size:15px 47px}
.recommArea .cont .combiProduct ul li:first-child:before{display:none}
.recommArea .cont .dataProduct ul li{position:relative;display:table-cell;text-align:center;padding:0 13px;width:70px;vertical-align:top}
.recommArea .cont .dataProduct ul li em{display:block;font-size:10px;color:#666;letter-spacing:-0.5px;padding-top:3px}
.recommArea .cont .dataProduct ul li:before{content:'';display:inline-block;position:absolute;left:0;top:0;width:40px;height:77px;border-left:1px solid #e4e4e4;vertical-align:top}
.recommArea .cont .dataProduct ul li:first-child:before{display:none}
.recommArea .cont .saleTxt{display:block;font-size:15px;line-height:18px;color:#e3002b;padding:17px 0;border-top:1px dashed #e7e7e7}
.recommArea .cont .fee{display:block;font-size:20px;line-height:23px;color:#e3002b;padding:17px 0;border-top:1px dashed #e7e7e7}
.recommArea .cont .fee em{display:block;font-size:13px;line-height:18px}
.recommArea .cont>a{display:block;position:relative;z-index:10;padding-top:40px}
.recommArea .cont .btnBox{padding:0 15px}
.recommArea .cont .btnBox .icoLocker{float:none;width:auto;background:url(../../img/common/ico_locker.png) no-repeat 0 50%;background-size:14px 16px;-webkit-background-size:14px 16px;-moz-background-size:14px 16px;-o-background-size:14px 16px;padding-left:20px}
.recommArea .cont .btnBox .icoChange{float:none;width:auto;background:url(../../img/common/ico_change.png) no-repeat 0 50%;background-size:16px 18px;-webkit-background-size:16px 18px;-moz-background-size:16px 18px;-o-background-size:16px 18px;padding-left:20px}
.recommArea .cont .prTxt{padding:20px 0;color:#666;letter-spacing:-1px}
.recommArea .swipePrev{left:15px;top:45px}
.recommArea .swipeNext{right:15px;top:45px}

.brandIntro{overflow:hidden;padding-top:25px}
.brandIntro .cont{text-align:center}
.brandIntro .slideNavi{padding-bottom:30px}
.brandIntro .titCopy{font-size:15px;color:#d23c00;letter-spacing:-1px;padding-bottom:6px}
.brandIntro .txtCopy{font-size:13px;color:#666;letter-spacing:-1px;padding-bottom:20px}
.brandIntro .btnBox{padding:0 15px}
.brandIntro .btnBox a{letter-spacing:-1px}
.brandIntro .swipePrev{left:30px;top:4px}
.brandIntro .swipeNext{right:30px;top:4px}
.brandIntro .allinfiniteCont li{border-top:1px solid #fedbd7;margin-bottom:1px;text-align:left}
.brandIntro .allinfiniteCont li:after{content:'';display:block;clear:both}
.brandIntro .allinfiniteCont li strong{float:left;text-shadow:1px 1px 1px #d23c00;width:116px;height:61px;line-height:61px;margin-top:-1px;color:#fff;font-size:13px;;letter-spacing:-0.5px;text-indent:15px;background:url(../../img/product/bg_allinfinite.png) no-repeat 0 0;background-size:206px 247px;-webkit-background-size:206px 247px;-moz-background-size:206px 247px;-o-background-size:206px 247px}
.brandIntro .allinfiniteCont li+li strong{width:146px;background-position:0 -62px}
.brandIntro .allinfiniteCont li+li+li strong{width:176px;background-position:0 -124px}
.brandIntro .allinfiniteCont li+li+li+li strong{width:206px;background-position:0 -186px}
.brandIntro .allinfiniteCont li strong span{font-size:12px;vertical-align:1px}
.brandIntro .allinfiniteCont li em{float:right;line-height:61px;font-size:13px;color:#666;font-weight:bold;padding-right:15px;letter-spacing:-0.5px}
.brandIntro .allinfiniteCont li a{display:block;height:61px}

.banddataCont li{border-top:1px solid #fedbd7;margin-bottom:1px;text-align:left}
.banddataCont li:after{content:'';display:block;clear:both}
.banddataCont li strong{float:left;text-shadow:1px 1px 1px #d23c00;width:86px;height:30px;line-height:30px;margin-top:-1px;color:#fff;font-size:13px;;letter-spacing:-0.5px;text-indent:15px;background:url(../../img/product/bg_banddata.png) no-repeat 0 0;background-size:206px 278px;-webkit-background-size:206px 278px;-moz-background-size:206px 278px;-o-background-size:206px 278px}
.banddataCont li+li strong{width:101px;background-position:0 -31px}
.banddataCont li+li+li strong{width:116px;background-position:0 -62px}
.banddataCont li+li+li+li strong{width:131px;background-position:0 -93px}
.banddataCont li+li+li+li+li strong{width:146px;background-position:0 -124px}
.banddataCont li+li+li+li+li+li strong{width:161px;background-position:0 -155px}
.banddataCont li+li+li+li+li+li+li strong{width:176px;background-position:0 -186px}
.banddataCont li+li+li+li+li+li+li+li strong{width:191px;background-position:0 -217px}
.banddataCont li+li+li+li+li+li+li+li+li strong{width:206px;background-position:0 -248px}
.banddataCont li strong span{font-size:10px;vertical-align:1px}
.banddataCont li em{float:right;line-height:30px;font-size:13px;color:#666;font-weight:bold;padding-right:15px;letter-spacing:-0.5px}
.banddataCont li a{display:block;height:30px}

.prAds{overflow:hidden;padding:30px 0;text-align:center}
.prAds .titCopy{font-size:15px;color:#d23c00;letter-spacing:-1px}
.prAds .cont{border:1px solid #ccc;padding:20px 0}
.prAds .sort{display:block;font-size:11px;font-weight:bold}
.prAds .img{display:block;padding-top:15px}
.prAds .img img{width:55px}
.prAds dl{padding-top:3px}
.prAds dl dt{font-size:15px;color:#d23c00}
.prAds dl dd{color:#666;padding-top:5px}
.prAds .swipePrev{left:15px;top:45px}
.prAds .swipeNext{right:15px;top:45px}

.findProduct{padding-top:30px}
.findProduct h2{text-align:center}
.findProduct .guide{text-align:right;margin:15px 0 10px 0;padding-right:15px}
.findProduct .guide span{font-size:13px;font-weight:bold;padding-left:16px;letter-spacing:-1px}
.findProduct .guide .monthly{color:#d23c00;background:url(../../img/product/bl_product_guide1.png) no-repeat 0 4px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px}
.findProduct .guide .stipulation{color:#007f77;background:url(../../img/product/bl_product_guide2.png) no-repeat 0 4px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px;margin-left:5px}

.fareList ul li.myFare{position:relative;border-top:1px solid #ccc;padding:0 15px 20px}
.fareList ul li.myFare .tit{display:block;font-size:15px;font-weight:bold;border-bottom:1px dashed #ccc;padding:10px 40px 10px 0}
.fareList ul li.myFare .tit sup{font-size:8px}
.fareList ul li.myFare .infoArea{display:block}
.fareList ul li.myFare .infoArea:after{content:'';display:block;clear:both}
.fareList ul li.myFare a{display:block}
.fareList ul li.myFare .btnLocker{position:absolute;right:15px;top:5px}
.fareList ul li.myFare .list1{float:left;padding-top:20px}
.fareList ul li.myFare .list1 li{padding-left:24px;margin-top:10px}
.fareList ul li.myFare .list1 li:first-child{margin-top:0}
.fareList ul li.myFare .list1 li strong{font-size:12px;font-weight:bold;letter-spacing:-1px}
.fareList ul li.myFare .list1 li span{font-size:10px;color:#666;letter-spacing:-0.5px}
.fareList ul li.myFare .list1 li .prTxt{margin:5px 0 0 -24px;color:#666;font-size:13px;letter-spacing:-1px;width:200px}
.fareList ul li.myFare .list1 li.data{background:url(../../img/product/ico_data2.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.fareList ul li.myFare .list1 li.call{background:url(../../img/product/ico_call2.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.fareList ul li.myFare .list1 li.sms{background:url(../../img/product/ico_sms2.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.fareList ul li.myFare .list1 li.internet{background:url(../../img/product/ico_internet_speed2.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.fareList ul li.myFare .list1 li.iptv{background:url(../../img/product/ico_iptv2.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.fareList ul li.myFare .list1 li.phone, .fareList ul li.myFare .list1 li.roaming, .fareList ul li.myFare .list1 li.extraSrv{padding:0}
.fareList ul li.myFare .list1 li.phone .prTxt, .fareList ul li.myFare .list1 li.roaming .prTxt, .fareList ul li.myFare .list1 li.extraSrv .prTxt{margin:0}
.fareList ul li.myFare .list2{overflow:hidden;text-align:right;padding-top:20px}
.fareList ul li.myFare .list2 li{padding-left:14px}
.fareList ul li.myFare .list2 li:first-child{padding-left:0}
.fareList ul li.myFare .list2 li.monthly{color:#d23c00}
.fareList ul li.myFare .list2 li.monthly strong{background:url(../../img/product/bl_product_guide1.png) no-repeat 0 5px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px}
.fareList ul li.myFare .list2 li.monthly+.stipulation{margin-top:8px}
.fareList ul li.myFare .list2 li.stipulation{color:#007f77}
.fareList ul li.myFare .list2 li.stipulation strong{background:url(../../img/product/bl_product_guide2.png) no-repeat 0 5px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px}
.fareList ul li.myFare .list2 li strong{font-size:13px;line-height:17px;padding-left:14px}
.fareList ul li.myFare .list2 li span{display:block;font-size:13px;line-height:15px}

.quickLink .gradType1 .inner{min-height:55px;background:url(../../img/product/bg_quick_lin1.png) no-repeat 0 0;background-size:55px 55px;-webkit-background-size:55px 55px;-moz-background-size:55px 55px;-o-background-size:55px 55px;padding-left:70px}
.quickLink .gradType2 .inner{min-height:55px;background:url(../../img/product/bg_quick_lin2.png) no-repeat 0 0;background-size:55px 55px;-webkit-background-size:55px 55px;-moz-background-size:55px 55px;-o-background-size:55px 55px;padding-left:70px}
.quickLink .inner strong{text-shadow:1px 1px 1px #d23c00;color:#fff;font-size:15px;line-height:18px;letter-spacing:-1px}
.quickLink .inner p{text-shadow:1px 1px 1px #d23c00;color:#fff;font-size:13px;line-height:15px;padding-top:5px;letter-spacing:-1px}
.quickLink a{display:block;text-align:center;height:33px;line-height:33px;text-shadow:1px 1px 1px #d23c00;color:#fff;font-size:13px;border:1px solid #f79e98;margin-top:20px}
.quickLink  .gradType1{background:#e71f24;
  background:-webkit-linear-gradient(left, #e71f24 , #f5543d);
  background:-o-linear-gradient(right, #e71f24, #f5543d);
  background:-moz-linear-gradient(right, #e71f24, #f5543d);
  background:linear-gradient(to right, #e71f24 , #f5543d);
  padding:30px 15px 20px
}
.quickLink  .gradType2{background:#e21317;
  background:-webkit-linear-gradient(left, #e21317 , #f3412c);
  background:-o-linear-gradient(right, #e21317, #f3412c);
  background:-moz-linear-gradient(right, #e21317, #f3412c);
  background:linear-gradient(to right, #e21317 , #f3412c);
 padding:30px 15px 20px
}

.myContents{position:fixed;left:0;bottom:0;right:0;z-index:50}
.myContents .prView{background:#434159;color:#fff}
.myContents .prView a.tglBtn{display:block;color:#fff;padding:8px 0 8px 15px;font-size:15px;font-weight:bold;background:url(../../img/product/bg_my_content_on.png) no-repeat right 50%;-webkit-background-size:29px 8px;-moz-background-size:29px 8px;-o-background-size:29px 8px;background-size:29px 8px}
.myContents .prView a.tglBtn:before{content:'MY';display:inline-block;text-align:center;font-size:12px;font-weight:bold;text-shadow:1px 1px 1px #d23c00;background:#f65d00;width:25px;height:25px;line-height:25px;border-radius:13px;-moz-border-radius:13px;-webkit-border-radius:13px;-0-border-radius:13px;margin-right:10px}
.myContents .prView.on a.tglBtn{background:url(../../img/product/bg_my_content.png) no-repeat right 50%;-webkit-background-size:29px 8px;-moz-background-size:29px 8px;-o-background-size:29px 8px;background-size:29px 8px}
.myContents .prView .fareList a{color:#fff}
.myContents .prView .fareList ul li.myFare{border-top:1px solid #56546a}
.myContents .prView .fareList ul li.myFare .tit{border-bottom:1px dashed #56546a}
.myContents .prView .fareList ul li.myFare .list1 li.data{background:url(../../img/product/ico_data3.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.myContents .prView .fareList ul li.myFare .list1 li.call{background:url(../../img/product/ico_call3.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.myContents .prView .fareList ul li.myFare .list1 li.sms{background:url(../../img/product/ico_sms3.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.myContents .prView .fareList ul li.myFare .list1 li.internet{background:url(../../img/product/ico_internet_speed3.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.myContents .prView .fareList ul li.myFare .list1 li.iptv{background:url(../../img/product/ico_iptv3.png) no-repeat 0 1px;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.myContents .prView .fareList ul li.myFare .list1 li span{color:#c7c6ce}
.myContents .prView .fareList ul li.myFare .list1 li .prTxt{color:#fff}
.myContents .prView .fareList ul li.myFare .list2 li.monthly{color:#ff9b51}
.myContents .prView .fareList ul li.myFare .list2 li.monthly strong{background:url(../../img/product/bl_product_guide3.png) no-repeat 0 5px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px}
.myContents .prView .fareList ul li.myFare .list2 li.monthly+.stipulation{margin-top:10px}
.myContents .prView .fareList ul li.myFare .list2 li.stipulation{color:#01c8bc}
.myContents .prView .fareList ul li.myFare .list2 li.stipulation strong{background:url(../../img/product/bl_product_guide4.png) no-repeat 0 5px;background-size:10px 10px;-webkit-background-size:10px 10px;-moz-background-size:10px 10px;-o-background-size:10px 10px}
.myContents .btnBox{margin:0}
.myContents .btnBox span{padding:0}
.myContents .btnBox a{height:45px;line-height:45px}
.myContents .btnBox .icoLocker{float:none;width:auto;background:url(../../img/common/ico_locker.png) no-repeat 0 50%;background-size:14px 16px;-webkit-background-size:14px 16px;-moz-background-size:14px 16px;-o-background-size:14px 16px;padding-left:20px}
.myContents .btnBox .icoChange{float:none;width:auto;background:url(../../img/common/ico_change.png) no-repeat 0 50%;background-size:16px 18px;-webkit-background-size:16px 18px;-moz-background-size:16px 18px;-o-background-size:16px 18px;padding-left:20px}
.myContents .btnBox .line{border-right:1px solid #56546a}

.kindIntro{text-align:center;overflow:hidden}
.kindIntro .inner{padding:30px 15px 0}
.kindIntro h2{margin-bottom:0;letter-spacing:-1px}
.kindIntro ul li{border-bottom:1px dashed #e4e4e4}
.kindIntro ul li strong{display:block;font-size:15px;color:#d23c00;font-weight:normal;margin-bottom:5px}
.kindIntro ul li span{display:block;color:#666}
.kindIntro ul li a{display:block;padding:20px 0}
.kindIntro ul li.noLink{padding:20px 0}
.kindIntro ul li:last-child{border-bottom:0}
.kindIntro .btnBox2{background:#f7f7f7;padding:20px 15px;border-top:1px solid #e4e4e4}
.kindIntro .btnBox2 a+a{margin-top:10px}
.kindIntro .btnBox3{background:#f7f7f7;padding:20px 15px;border-top:1px solid #e4e4e4;margin:0 -5px}
.kindIntro .btnBox3 span{float:left;width:50%}
.kindIntro .btnBox3 .twin{overflow:hidden}
.kindIntro .btnBox3 .twin+.twin{margin-top:10px}
.kindIntro .btnBox3 .exclusive{padding:0 5px;margin-top:10px}

.fitProduct{overflow:hidden}
.fitProduct .list1 li{position:relative}
.fitProduct .list1 li h2{background:#f7f7f7;padding:10px 15px;font-weight:bold;font-size:15px;border-top:1px solid #e4e4e4;letter-spacing:-1px}
.fitProduct .list1 li h2+span{position:absolute;right:15px;top:12px;font-size:13px;color:#666}
.fitProduct .list1 .beforeLogin .findFare p{background:#434159;color:#fff;padding:20px 15px}
.fitProduct .list1 .beforeLogin .findFare .btnBox{background:#39374d}
.fitProduct .list1 .beforeLogin .findFare .btnBox a{display:block;color:#fff;padding:9px 0;font-size:13px}
.fitProduct .list1 .beforeLogin .findFare .btnBox a:before{content:'';display:inline-block;position:relative;top:2px;margin:0 5px 0 -6px;width:12px;height:13px;background:url(../../img/common/ico_lock.png) no-repeat 0 50%;background-size:12px 13px;-webkit-background-size:12px 13px;-moz-background-size:12px 13px;-o-background-size:12px 13px}
.fitProduct .list1 .usageCont{padding-top:10px}
.fitProduct .list1 .usageCont ul{border-bottom:1px solid #e7e7e7;padding:0 15px}
.fitProduct .list1 .usageCont .dataTit+ul{border-bottom:0}
.fitProduct .list1 .usageCont li{border-bottom:1px dashed #e7e7e7;margin-bottom:20px}
.fitProduct .list1 .usageCont li:first-child{margin-top:20px}
.fitProduct .list1 .usageCont li:last-child{border-bottom:0;margin-bottom:0}
.fitProduct .list1 .sort{display:block;font-size:13px;font-weight:bold;padding-bottom:10px;margin:0 15px;border-bottom:1px dashed #e7e7e7}
.fitProduct .list1 .titArea{padding-bottom:20px;overflow:hidden}
.fitProduct .list1 .titArea strong{float:left}
.fitProduct .list1 .titArea em{float:right}
.fitProduct .list1 .titArea em span{color:#434159}
.fitProduct .list1 .usageArea{height:85px}
.fitProduct .list1 .usageArea .base{width:285px;height:34px;margin:0 auto;background:url(../../img/product/bg_graph_bar1_call.png) no-repeat 0 0;background-size:286px 34px;-webkit-background-size:286px 34px;-moz-background-size:286px 34px;-o-background-size:286px 34px}
.fitProduct .list1 .usageArea .controllerArea{position:relative;left:0px;width:280px}
.fitProduct .list1 .usageArea .controllerArea .currUsage{display:block;position:absolute;top:19px;left:0;height:15px;background:url(../../img/product/bg_graph_bar2.png) no-repeat 0 0;background-size:280px 15px;-webkit-background-size:280px 15px;-moz-background-size:280px 15px;-o-background-size:280px 15px}
.fitProduct .list1 .usageArea .controllerArea .customUsage{display:block;position:absolute;top:19px;left:0;height:15px;background:url(../../img/product/bg_graph_bar3.png) no-repeat 0 0;background-size:280px 15px;-webkit-background-size:280px 15px;-moz-background-size:280px 15px;-o-background-size:280px 15px}
.fitProduct .list1 .usageArea .controllerArea .currPoint{display:block;position:absolute;top:12px;width:15px;text-align:center;margin-left:-8px}
.fitProduct .list1 .usageArea .controllerArea .controller{display:block;position:relative;top:-2px;margin-left:-25px;width:50px;text-align:center}
.fitProduct .list1 .usageArea .controllerArea .controller:hover{color:#434159;text-decoration:none}
.fitProduct .list1 .usageArea .controllerArea .controller strong{display:block;margin-top:-7px;color:#434159;font-size:13px;}
.fitProduct .list1 .usageArea .controllerArea .controller>em{display:block;color:#666;font-weight:bold;letter-spacing:-1px;font-size:12px}
.fitProduct .list1 .data .usageArea .base{background:url(../../img/product/bg_graph_bar1_data.png) no-repeat 0 0;background-size:286px 34px;-webkit-background-size:286px 34px;-moz-background-size:286px 34px;-o-background-size:286px 34px}
.fitProduct .list1 .data .usageArea .controllerArea .currUsage{display:block;position:absolute;top:19px;left:0;height:15px;background:url(../../img/product/bg_graph_bar2_data.png) no-repeat 0 0;background-size:280px 15px;-webkit-background-size:280px 15px;-moz-background-size:280px 15px;-o-background-size:280px 15px}
.fitProduct .list1 .data .usageArea .controllerArea .customUsage{display:block;position:absolute;top:19px;left:0;height:15px;background:url(../../img/product/bg_graph_bar3_data.png) no-repeat 0 0;background-size:280px 15px;-webkit-background-size:280px 15px;-moz-background-size:280px 15px;-o-background-size:280px 15px}
.fitProduct .list1 .dataTit{overflow:hidden;margin:10px 15px 0;border-bottom:1px dashed #e7e7e7}
.fitProduct .list1 .dataTit strong{float:left;border-bottom:0;margin:0}
.fitProduct .list1 .dataTit em{float:right}
.fitProduct .list1 .dataTit em span{color:#434159}
.fitProduct .list1 .serviceSrch{padding:0 15px 20px}
.fitProduct .list1 .serviceSrch ul li{border-bottom:1px dashed #e7e7e7;padding:20px 0}
.fitProduct .list1 .serviceSrch ul li:last-child{border-bottom:0;padding:20px 0 0}
.fitProduct .list1 .serviceSrch ul li .tit{display:block;padding-bottom:10px}
.fitProduct .list1 .serviceSrch ul li .division li{display:table;width:100%;table-layout:fixed;border-bottom:0;padding:0 0 10px 0}
.fitProduct .list1 .serviceSrch ul li .division li:last-child{padding:0}
.fitProduct .list1 .serviceSrch ul li .division li .sTit{display:table-cell;width:45%}
.fitProduct .list1 .serviceSrch ul li .division li .selWrap{display:table-cell;width:55%}
.fitProduct .btnBox{padding:0 15px 20px;margin:0 -3px}
.fitProduct .btnBox span{width:35%;padding:0 3px}
.fitProduct .btnBox span+span{width:65%}

.discounts{text-align:left;margin-top:20px;border-top:1px dashed #e7e7e7}
.discounts .tit{display:block;margin-bottom:15px;font-size:13px;padding:15px 0 0 15px}
.discounts ul{padding:0 15px 20px;border-bottom:1px dashed #e7e7e7}
.discounts ul li{display:table;width:100%;table-layout:fixed;margin-top:10px}
.discounts ul li em{display:table-cell;font-size:13px}
.discounts ul li span{display:table-cell;font-size:13px;font-weight:bold;text-align:right}
.discounts .monthPay{color:#e3002b;display:table;width:100%;table-layout:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:15px;letter-spacing:-0.5px}
.discounts .monthPay strong{display:table-cell;font-size:13px}
.discounts .monthPay em{display:table-cell;text-align:right;font-size:15px;font-weight:bold}
.discounts .monthPay em span{font-size:20px;vertical-align:-2px}
.discounts .monthPay em .vat{display:block;font-size:13px;letter-spacing:-1px}

.prIntro{text-align:center;overflow:hidden}
.prIntro .inner{padding:25px 0 35px;background:#f7f7f7}
.prIntro .inner .introTxt{font-size:15px;font-weight:normal;letter-spacing:-1px}
.prIntro .inner .introTxt em{font-size:20px;font-weight:bold}
.prIntro .inner .introCont{display:table;margin:20px auto 0}
.prIntro .inner .introCont ul li{position:relative;display:table-cell;text-align:center;padding:0 13px;width:70px;vertical-align:top}
.prIntro .inner .introCont ul li em{display:block;font-size:12px;line-height:13px;color:#666;letter-spacing:-0.5px;padding-top:3px}
.prIntro .inner .introCont ul li:before{content:'';display:inline-block;position:absolute;left:0;top:0;width:40px;height:77px;border-left:1px solid #e4e4e4;vertical-align:top}
.prIntro .inner .introCont ul li:first-child:before{display:none}

.prIntro2{text-align:center;background:#f7f7f7;padding:30px 15px}
.prIntro2 .prTxt1{font-size:15px;color:#d23c00;margin-top:20px}
.prIntro2 .prTxt2{font-size:13px;color:#666;margin-top:5px}
.prIntro2 .img{display:block;margin-top:20px}

.srvSummary .inner{padding:30px 15px}
.srvSummary .inner h2{text-align:center}
.srvSummary .fareBenefit .list1 li{display:table;width:100%;table-layout:fixed;border-bottom:1px dashed #e4e4e4;padding:20px 0}
.srvSummary .fareBenefit .list1 li:first-child{padding:5px 0 20px}
.srvSummary .fareBenefit .list1 li:last-child{border-bottom:0;padding:20px 0 0}
.srvSummary .fareBenefit .list1 li>div{display:table-cell;vertical-align:middle}
.srvSummary .fareBenefit .list1 li .img{width:90px}
.srvSummary .txt{font-size:13px;color:#666;padding-right:20px;letter-spacing:-1px}
.srvSummary .txt strong{display:block;font-size:15px;color:#d23c00;font-weight:normal;padding-bottom:5px}
.srvSummary .plusBenefit{border-top:1px solid #e4e4e4;background:#f7f7f7}
.srvSummary .plusBenefit .benefitBox{text-align:center;border-bottom:1px dashed #e4e4e4;padding-bottom:20px}
.srvSummary .plusBenefit .benefitBox .img{display:block;margin-top:20px}
.srvSummary .plusBenefit .benefitBox+.benefitBox{margin-top:20px;padding-bottom:0;border-bottom:0}
.srvSummary .dataAllview{padding:30px 0}
.srvSummary .dataAllview h3{text-align:center;margin-bottom:30px}

.affordablePhones .topConBox{text-align:center}
.affordablePhones .topConBox strong{padding:0;min-height:auto}
.affordablePhones .topConBox p{color:#666;margin-top:5px}
.affordablePhones .brandList ul{overflow:hidden;margin-left:-10px;padding:0 15px 10px}
.affordablePhones .brandList ul li{float:left;width:50%}
.affordablePhones .brandList ul li a{display:block;padding:17px 15px}
.affordablePhones .brandList ul li .contBox{border:1px solid #e4e4e4;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px 10px;text-align:center;color:#666}
.affordablePhones .brandList ul li .img{display:block;border-bottom:1px dashed #e7e7e7;padding-bottom:20px;margin-bottom:17px}
.affordablePhones .brandList ul li strong{display:block}
.affordablePhones .brandList ul li span{display:block;margin-top:3px}

.introArea{text-align:center;padding-top:30px;color:#666}
.introArea .tit{display:block;padding-bottom:5px;font-size:17px;color:#333}
.introArea .prInfoCont{text-align:center;margin:30px 0 20px}
.introArea .prInfoCont ul{display:table;margin:0 auto}
.introArea .prInfoCont ul li{display:table-cell;position:relative;width:105px;vertical-align:top;font-size:13px;letter-spacing:-1px}
.introArea .prInfoCont.iptv ul li{width:79px;padding-bottom:10px}
.introArea .prInfoCont ul li strong{display:block;color:#333}
.introArea .prInfoCont ul li strong+span{display:block;margin-top:5px}
.introArea .prInfoCont ul li .img{display:block;margin-bottom:4px;padding-top:10px}
.introArea .prInfoCont ul li+li:before{content:'';display:inline-block;position:absolute;left:-8px;top:0;width:15px;height:52px;background:url(../../img/product/bg_plus.gif) no-repeat 0 0;background-size:15px 52px;-webkit-background-size:15px 52px;-moz-background-size:15px 52px;-o-background-size:15px 52px}
.introArea  .gradType1{background:#e9032b;
  background:-webkit-linear-gradient(left, #e9032b , #fc5c2b);
  background:-o-linear-gradient(right, #e9032b, #fc5c2b);
  background:-moz-linear-gradient(right, #e9032b, #fc5c2b);
  background:linear-gradient(to right, #e9032b , #fc5c2b);
  position:relative;padding:17px 0;color:#fff;text-shadow:1px 1px 1px #d23c00
}
.introArea  .gradType1:before{content:'';display:block;position:absolute;left:50%;top:0;margin-left:-6px;width:11px;height:7px;background:url(../../img/product/bg_intro_edge.png) no-repeat 0 0;background-size:11px 7px;-webkit-background-size:11px 7px;-moz-background-size:11px 7px;-o-background-size:11px 7px}

.pairing{background:#f7f7f7;border-top:1px solid #e4e4e4;padding:30px 0}
.pairing strong{display:block;font-size:15px;color:#d23c00;margin-bottom:5px}
.pairing p{font-size:13px;color:#666;margin-bottom:10px}

.numChange .intro{padding:30px 15px;text-align:center}
.numChange .intro strong{font-size:17px}
.numChange .intro p{color:#333;margin-top:5px}
.numChange .numChangeCont{text-align:center}
.numChange .numChangeCont .listType1 li:before{position:relative;display:inline-block;top:-3px;margin-right:5px}
.numChange .numChangeCont.contType1{padding:30px 15px;background:url(../../img/product/bg_ts1_4_1_6.png) no-repeat center 145px;background-size:215px 85px;-webkit-background-size:215px 85px;-moz-background-size:215px 85px;-o-background-size:215px 85px}
.numChange .numChangeCont.contType1 .titCopy3+.titCopy3{margin-top:115px}
.numChange .numChangeCont.contType2{padding:100px 15px 30px;background:#f7f7f7 url(../../img/product/bg_ts1_4_1_1.png) no-repeat center 30px;background-size:52px 54px;-webkit-background-size:52px 54px;-moz-background-size:52px 54px;-o-background-size:52px 54px}
.numChange .numChangeCont.contType3{padding:100px 15px 30px;background:url(../../img/product/bg_ts1_4_1_2.png) no-repeat center 30px;background-size:54px 54px;-webkit-background-size:54px 54px;-moz-background-size:54px 54px;-o-background-size:54px 54px}
.numChange .numChangeCont.contType4{padding:30px 15px 20px;text-align:left}
.numChange .numChangeCont .contBox{border:1px solid #e4e4e4}
.numChange .numChangeCont .contBox ul li{border-bottom:1px solid #e4e4e4;padding:15px 0 20px 65px;letter-spacing:-1px;background:url(../../img/product/bg_ts1_4_1_3.png) no-repeat 15px 15px;background-size:40px 40px;-webkit-background-size:40px 40px;-moz-background-size:40px 40px;-o-background-size:40px 40px}
.numChange .numChangeCont .contBox ul li:last-child{border-bottom:0}
.numChange .numChangeCont .contBox ul li+li{background:url(../../img/product/bg_ts1_4_1_4.png) no-repeat 15px 15px;background-size:40px 40px;-webkit-background-size:40px 40px;-moz-background-size:40px 40px;-o-background-size:40px 40px}
.numChange .numChangeCont .contBox ul li+li+li{background:url(../../img/product/bg_ts1_4_1_5.png) no-repeat 15px 15px;background-size:40px 40px;-webkit-background-size:40px 40px;-moz-background-size:40px 40px;-o-background-size:40px 40px}
.numChange .numChangeCont .contBox ul li dl dt{font-weight:bold}
.numChange .numChangeCont .contBox ul li dl dd{font-size:13px;color:#666;padding-top:4px}

.cbCont .inner{position:relative;padding:30px 15px 0;text-align:center}
.cbCont .inner .txt{color:#d23c00;font-size:15px}
.cbCont .inner .list{position:relative;text-align:center;padding:20px 0;border:1px solid #ccc;margin-top:15px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-0-border-radius:5px}
.cbCont .inner .list:after{content:'';display:block;position:absolute;left:50%;bottom:-11px;margin-left:-5px;width:10px;height:11px;background:url(../../img/product/bg_cb_edge.png) no-repeat 0 0;background-size:10px 11px;-webkit-background-size:10px 11px;-moz-background-size:10px 11px;-o-background-size:10px 11px}
.cbCont .inner .list ol{display:inline-block;margin:0 auto}
.cbCont .inner .list ol li{text-align:left;color:#666;margin-bottom:5px}
.cbCont .inner .list ol li span{font-weight:bold;color:#d23c00;padding-right:10px}
.cbCont .inner .list ol li:last-child{margin-bottom:0}
.cbCont.family .inner{padding:30px 15px 99px}
.cbCont.family .inner .img{display:block;position:absolute;left:50%;bottom:0;margin-left:-104px}
.cbCont.individual .inner{padding:30px 15px 96px}
.cbCont.individual .inner .img{display:block;position:absolute;left:50%;bottom:0;margin-left:-71px}

.cbCont .combiList{margin-top:-3px}
.cbCont .combiList ul>li{position:relative;border-top:1px solid #ccc;text-align:center}
.cbCont .combiList ul>li a{display:block;padding-bottom:20px}
.cbCont .combiList ul>li .tit{display:block;background:#f7f7f7;padding:10px 0;font-size:15px;border-bottom:1px dashed #e4e4e4}
.cbCont .combiList ul>li .btnLocker{display:block;position:absolute;right:15px;top:5px}
.cbCont .combiList ul>li ul{display:table;margin:0 auto;padding:20px 0 10px}
.cbCont .combiList ul>li ul li{display:table-cell;width:65px;letter-spacing:-0.5px;border-top:0;padding-bottom:0}
.cbCont .combiList ul>li ul li .img{display:block}
.cbCont .combiList ul>li ul li strong{display:block;font-size:13px}
.cbCont .combiList ul>li ul li strong.twoline{padding-top:7px}
.cbCont .combiList ul>li p{font-size:13px;color:#666}
.cbCont .combiList ul>li ul li+li:before{content:'';position:absolute;left:-5px;top:3px;display:inline-block;width:11px;height:11px;background:url(../../img/product/ico_ts1_5_plus.png) no-repeat 0 0;background-size:11px 11px;-webkit-background-size:11px 11px;-moz-background-size:11px 11px;-o-background-size:11px 11px}

.cbSaver{padding:30px 15px}
.cbSaver h2{text-align:center;margin-bottom:5px}
.cbSaver .titCopy{text-align:center;color:#666}
.cbSaver .searchPay{margin-top:20px}
.cbSaver .searchPay ul li{display:table;width:100%;table-layout:fixed;margin-top:10px}
.cbSaver .searchPay ul li:first-child{margin-top:0}
.cbSaver .searchPay ul li strong{display:table-cell;width:55px;font-weight:bold;vertical-align:middle}
.cbSaver .searchPay ul li .selType{display:table-cell}
.cbSaver .save{text-align:center;margin-top:10px;color:#e3002b}
.cbSaver .save strong{display:block;font-size:15px}
.cbSaver .save strong em{font-size:20px}
.cbSaver .save span{font-weight:bold}
.cbSaver .useTerms{border-top:1px dashed #ccc;margin-top:20px;padding-top:20px}
.cbSaver .useTerms strong{display:block;margin-bottom:10px}

.beforeDep{text-align:center;color:#fff}
.beforeDep p{display:inline-block;text-shadow:1px 1px 1px #d23c00;padding-left:20px;background:url(../../img/product/ico_ex_mark.png) no-repeat 0 50%;background-size:16px 16px;-webkit-background-size:16px 16px;-moz-background-size:16px 16px;-o-background-size:16px 16px}
.beforeDep a{display:inline-block;text-align:center;height:33px;line-height:33px;text-shadow:1px 1px 1px #d23c00;color:#fff;font-size:13px;border:1px solid #f79e98;margin-top:5px;padding:0 10px}
.beforeDep  .gradType1{background:#e71f24;
  background:-webkit-linear-gradient(left, #e71f24 , #f5553e);
  background:-o-linear-gradient(right, #e71f24, #f5553e);
  background:-moz-linear-gradient(right, #e71f24, #f5553e);
  background:linear-gradient(to right, #e71f24 , #f5553e);
  padding:20px 0
}

.popCon .lockerArea{text-align:center}
.popCon .lockerArea .grayBox{background:#f5f5f5;border:1px solid #e4e4e4;color:#ea002c;font-size:15px;font-weight:bold;padding:13px 0;margin-top:15px}
.popCon  .compareData .img img{width:100%}

.usbIntro{padding:30px 15px 20px}
.usbIntro ol li{margin-top:30px}
.usbIntro ol li:first-child{margin-top:0}
.usbIntro .img{display:block;margin-top:12px}
.usbIntro .img img{width:100%}

.areaSearch{padding:30px 15px 20px}
.areaSearch .selWrap+.selWrap{margin-top:10px}
.areaSearch .availableArea{margin-top:30px}
.areaSearch .availableArea .areaList{border-top:1px solid #434159}
.areaSearch .availableArea .areaList a{position:relative;display:block;padding:12px 40px 12px 15px}
.areaSearch .availableArea .areaList a:after{content:'';position:absolute;right:15px;top:50%;margin-top:-6px;display:block;width:12px;height:12px;background:url(../../img/common/bg_figure.png)no-repeat -128px -25px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.areaSearch .availableArea .areaList li{border-bottom:1px solid #e4e4e4}
.areaSearch .availableArea .areaList li.on{border-bottom:0}
.areaSearch .availableArea .areaList li.on a{color:#e3002b;font-weight:bold}
.areaSearch .availableArea .areaList li.on a:after{background:url(../../img/common/bg_figure.png)no-repeat -140px -24px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.areaSearch .availableArea .areaList li.on .map{display:block}
.areaSearch .availableArea .areaList li .map{display:none}
.areaSearch .availableArea .areaList li .map img{width:100%}

.serviceSearch{padding:0 15px 30px}
.serviceSearch>p{font-size:13px;color:#666}
.serviceSearch .conBox{border:1px solid #e4e4e4;background:#f5f5f5;text-align:center;padding:14px 0;margin-top:15px}
.serviceSearch .resultTxt{font-size:17px;color:#333}
.serviceSearch .resultCont{margin-bottom:-30px}
.serviceSearch .resultCont ul{border-left:1px solid #e4e4e4;border-top:1px solid #e4e4e4;margin-top:15px}
.serviceSearch .resultCont ul:after{content:'';display:block;clear:both}
.serviceSearch .resultCont ul li{float:left;width:50%;padding-top:48px;height:122px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;text-align:center}
.serviceSearch .resultCont ul li strong{display:block;margin-bottom:15px}
.serviceSearch .resultCont ul li{background:url(../../img/product/ico_service_bandgiga.png) no-repeat center 13px;-webkit-background-size:26px 26px;-moz-background-size:26px 26px;-o-background-size:26px 26px;background-size:26px 26px}
.serviceSearch .resultCont ul li+li{background:url(../../img/product/ico_service_internet.png) no-repeat center 13px;-webkit-background-size:26px 26px;-moz-background-size:26px 26px;-o-background-size:26px 26px;background-size:26px 26px}
.serviceSearch .resultCont ul li+li+li{background:url(../../img/product/ico_service_phone.png) no-repeat center 13px;-webkit-background-size:26px 26px;-moz-background-size:26px 26px;-o-background-size:26px 26px;background-size:26px 26px}
.serviceSearch .resultCont ul li+li+li+li{background:url(../../img/product/ico_service_internet_phone.png) no-repeat center 13px;-webkit-background-size:28px 26px;-moz-background-size:28px 26px;-o-background-size:28px 26px;background-size:28px 26px}
.serviceSearch .resultCont ul li+li+li+li+li{background:url(../../img/product/ico_service_iptv.png) no-repeat center 13px;-webkit-background-size:26px 26px;-moz-background-size:26px 26px;-o-background-size:26px 26px;background-size:26px 26px}
.serviceSearch .resultCont ul li:last-child{background:#f5f5f5}

.application{padding:30px 15px 20px}
.application .contBox{border:1px solid #e4e4e4}
.application .contBox ul li{padding:15px;border-top:1px solid #e4e4e4}
.application .contBox ul li:first-child{border-top:0}
.application .contBox ul li dl dt{font-size:13px;font-weight:bold;padding-bottom:3px}
.application .contBox ul li dl dd{font-size:13px;color:#666}
.application .contBox ul li dl dd.btn{padding-top:15px;text-align:left}
.application .contBox ul li dl{padding-left:47px;background:url(../../img/product/ico_ts1_2_11.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li dl{background:url(../../img/product/ico_ts1_2_12.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li+li dl{background:url(../../img/product/ico_ts1_2_13.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li+li+li dl{background:url(../../img/product/ico_ts1_2_14.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li+li+li+li dl{background:url(../../img/product/ico_ts1_2_15.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li+li+li+li+li dl{background:url(../../img/product/ico_ts1_2_16.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application .contBox ul li+li+li+li+li+li+li dl{background:url(../../img/product/ico_ts1_2_17.gif) no-repeat 0 0;background-size:32px 32px;-webkit-background-size:32px 32px;-moz-background-size:32px 32px;-o-background-size:32px 32px}
.application ol{padding-left:15px}
.application ol li{list-style:decimal;font-size:13px;color:#666}

.joinWay{padding:30px 15px 20px}
.joinWay .titDep2{letter-spacing:-1px}
.joinWay .contBox ol li{display:table;width:100%;table-layout:fixed;border:1px solid #e4e4e4;margin-top:5px}
.joinWay .contBox ol li:first-child{margin-top:0}
.joinWay .contBox ol li .num{display:table-cell;vertical-align:middle;width:37px;border-right:1px solid #e4e4e4;text-align:center;font-size:16px;color:#fb6400;font-weight:bold}
.joinWay .contBox ol li .txt{display:table-cell;vertical-align:middle;background:#fbfbfb;padding:12px 0 12px 10px;font-size:13px}

/* 부가서비스 */
[class*='extraCont']{padding:30px 15px;text-align:center}
[class*='extraCont'] .titCopy{font-size:15px;color:#d23c00;letter-spacing:-1px;padding-bottom:6px}
[class*='extraCont'] .txtCopy{font-size:13px;color:#666;letter-spacing:-1px;padding-bottom:20px}
[class*='extraCont'] .conBox+.conBox{border-top:1px dashed #e4e4e4;padding-top:20px;margin-top:20px}
.conBox .listType1{text-align:center}
.conBox .listType1 ul{display:inline-block;margin:0 auto}
.conBox .listType1 ul li:before{position:relative;display:inline-block;top:-3px;margin-right:5px}
.extraCont2{background:#f7f7f7}
.extraCont2.line{border-top:1px solid #e4e4e4}
.newProduct{margin:10px -5px 0}
.newProduct:after{content:'';display:block;clear:both}
.newProduct li{float:left;width:50%}
.newProduct li a{display:block}
.newProduct li .box{position:relative;margin:0 5px;border:1px solid #e4e4e4}
.newProduct li .box:before{content:'NEW';display:block;position:absolute;left:50%;top:-11px;margin-left:-48px;width:95px;padding:4px 0 5px;color:#fff;font-size:12px;font-weight:bold;background:url(../../img/product/bg_ts2_1_1.png) no-repeat 0 0;background-size:95px 22px;-webkit-background-size:95px 22px;-moz-background-size:95px 22px;-o-background-size:95px 22px}
.newProduct li .box .tit{background:#f7f7f7;border-bottom:1px dashed #e7e7e7;font-weight:bold;padding:25px 0 15px}
.newProduct li .box .txt{color:#e3002b;padding:15px 0 20px}
.newProduct li .box .txt strong{display:block}
.newProduct li .box .txt strong span{font-size:16px;vertical-align:-2px}
.newProduct li .box .txt em{display:block;font-size:12px;line-height:13px}

.themeIntro{border:1px solid #e4e4e4}
.themeIntro li{border-bottom:1px solid #e4e4e4}
.themeIntro li a{display:block;display:table;width:100%;table-layout:fixed}
.themeIntro li:last-child{border-bottom:0}
.themeIntro li .txtArea{position:relative;display:table-cell;vertical-align:middle;width:63%;background:#f7f7f7;text-align:left;padding:15px 14px;border-right:1px dashed #e4e4e4;text-align:left}
.themeIntro li .txtArea:before{content:'';position:absolute;right:-10px;top:50%;margin-top:-10px;display:block;width:20px;height:20px;background:url(../../img/product/bg_ts2_1_2.png) no-repeat 0 0;background-size:20px 20px;-webkit-background-size:20px 20px;-moz-background-size:20px 20px;-o-background-size:20px 20px}
.themeIntro li .txtArea .img{display:block;float:left}
.themeIntro li .txtArea  strong{display:inline-block;overflow:hidden;padding:6px 0 0 15px;letter-spacing:-1px}
.themeIntro li .priceArea{display:table-cell;vertical-align:middle;width:37%;color:#e3002b}
.themeIntro li .priceArea strong{display:block;letter-spacing:-1px}
.themeIntro li .priceArea strong span{font-size:16px;vertical-align:-2px}
.themeIntro li .priceArea em{display:block;font-size:10px;line-height:13px}

.themeIntro2 ul li{text-align:center;border-bottom:1px dashed #e4e4e4;padding:15px 0;letter-spacing:-1px}
.themeIntro2 ul li:after{content:'';display:block;clear:both}
.themeIntro2 ul li:last-child{border-bottom:0;padding-bottom:0}
.themeIntro2 ul li a{display:block}
.themeIntro2 ul li .box{overflow:hidden;display:inline-block;margin:0 auto;text-align:left;padding-left:95px;min-width:195px}
.themeIntro2 ul li .box .tit{display:block;font-weight:bold;padding-top:10px}
.themeIntro2 ul li .box .txt{font-size:13px;color:#666;padding-top:5px}
.themeIntro2.yearCont ul li .box{background:url(../../img/product/img_ts_2_1_4.png) no-repeat 0 0;background-size:80px 85px;-webkit-background-size:80px 85px;-moz-background-size:80px 85px;-o-background-size:80px 85px}
.themeIntro2.yearCont ul li+li .box{background:url(../../img/product/img_ts_2_1_5.png) no-repeat 0 0;background-size:80px 85px;-webkit-background-size:80px 85px;-moz-background-size:80px 85px;-o-background-size:80px 85px}
.themeIntro2.yearCont ul li+li+li .box{background:url(../../img/product/img_ts_2_1_6.png) no-repeat 0 0;background-size:80px 85px;-webkit-background-size:80px 85px;-moz-background-size:80px 85px;-o-background-size:80px 85px}
.themeIntro2.recomm ul li .box{background:url(../../img/product/img_ts2_1_3_1_3.png) no-repeat 0 0;background-size:76px 71px;-webkit-background-size:76px 71px;-moz-background-size:76px 71px;-o-background-size:76px 71px}
.themeIntro2.recomm ul li+li .box{background:url(../../img/product/img_ts2_1_3_1_4.png) no-repeat 0 0;background-size:76px 71px;-webkit-background-size:76px 71px;-moz-background-size:76px 71px;-o-background-size:76px 71px}

.freeService{overflow:hidden;padding:30px 0;text-align:center}
.freeService .titCopy{font-size:15px;color:#d23c00;letter-spacing:-1px}
.freeService .cont{border:1px solid #ccc;padding:20px 0}
.freeService .img{display:block}
.freeService .img img{width:108px}
.freeService dl{padding-top:10px}
.freeService dl dt{font-weight:bold}
.freeService dl dd{font-size:13px;color:#666;padding-top:5px}
.freeService .swipePrev{left:15px;top:61px}
.freeService .swipeNext{right:15px;top:61px}
.freeService .btnBox{padding:0 15px}

.serviceVali{background:#39374d;color:#fff;text-align:center;padding:15px}
.serviceVali p{font-size:12px;letter-spacing:-0.5px}
.serviceVali p:before{content:'MY';display:inline-block;text-align:center;font-size:12px;font-weight:bold;text-shadow:1px 1px 1px #d23c00;background:#f65d00;width:25px;height:25px;line-height:25px;border-radius:13px;-moz-border-radius:13px;-webkit-border-radius:13px;-0-border-radius:13px;margin-right:5px}
.serviceVali a{display:block;border:1px solid #8f8e99;color:#fff;margin-top:8px}
.serviceVali a:before{content:'';display:inline-block;vertical-align:-3px;width:14px;height:16px;margin-right:5px;background:url(../../img/product/ico_join_extra.png) no-repeat 0 0;background-size:14px 16px;-webkit-background-size:14px 16px;-moz-background-size:14px 16px;-o-background-size:14px 16px}

.extraCont.tabCont{text-align:left;padding:30px 0 0}
.extraCont.tabCont .titDep2{padding:0 15px}
.extraCont .lineInfor ul li>a{position:relative;display:block;padding:15px 0;border-top:1px solid #e4e4e4}
.extraCont .lineInfor ul li>a:after{content:'';position:absolute;right:15px;top:50%;margin-top:-7px;display:block;width:14px;height:14px;background:url(../../img/common/bg_figure.png)no-repeat 0 -85px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.extraCont .lineInfor ul li.on>a{border-top:1px solid #434159;border-bottom:1px solid #e4e4e4;background:#f7f7f7}
.extraCont .lineInfor ul li.on>a:after{content:'';background:url(../../img/common/bg_figure.png)no-repeat -14px -85px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}
.extraCont .lineInfor .lineCon.type1{padding:0 15px}
.extraCont .lineInfor ul li.on .lineCon.type1{background:#f7f7f7}
.extraCont .tglCont{padding:30px 15px}
.extraCont .contBox{border:1px solid #e4e4e4;padding:20px 15px}
.extraCont .contBox .titleArea{background:url(../../img/product/ico_extra_service.png) no-repeat right 0;-webkit-background-size:30px 30px;-moz-background-size:30px 30px;-o-background-size:30px 30px;background-size:30px 30px}
.extraCont .contBox .titleArea .tit{display:block;font-size:15px}
.extraCont .contBox .titleArea .date{display:block;font-size:12px;color:#666;padding-top:3px}
.extraCont .contBox .txtArea{padding:10px 0;margin-top:15px;border-top:1px dashed #e4e4e4;border-bottom:1px dashed #e4e4e4}
.extraCont .contBox .priceArea{text-align:right;font-size:13px;color:#d23c00;font-weight:bold;margin-top:10px}
.extraCont .contBox+.contBox{margin-top:10px}
.extraCont .closeArea{position:relative;border-top:1px solid #434159;background:#efefef;height:45px;margin:30px -15px 0}
.extraCont .closeArea a{position:absolute;right:0;top:0;display:block;width:62px;height:35px;line-height:35px;padding-left:15px;background:#434159;color:#fff;font-weight:bold}
.extraCont .closeArea a:after{content:'';display:inline-block;width:14px;height:14px;margin-left:7px;background:url(../../img/common/bg_figure.png)no-repeat -108px -22px;-webkit-background-size:155px 115px;-moz-background-size:155px 115px;-o-background-size:155px 115px;background-size:155px 115px}


