@charset "euc-kr";
@import url("slick.css");

/* ==================================
* Common
================================== */
button { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; }


/* ==================================
* smart home main
================================== */
.smarthomeMain {overflow:hidden}
.smarthomeMain .tabSmarthome { overflow: hidden; padding: 22px 15px; border-bottom: 1px solid #ccc; }
.smarthomeMain .tabSmarthome > a { display: block; box-sizing: border-box; position: relative; float: left; padding-left: 30px; width: 50%; font-size: 14px; line-height: 14px; }
.smarthomeMain .tabSmarthome > a:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -12px; height: 25px; width: 24px; background-image: url('../../img/smarthome/sprites_smarthome.png'); background-size: 150px; }
.smarthomeMain .tabSmarthome > a > small { display: block; font-size: 11px; }
.smarthomeMain .tabSmarthome > a.life { padding-left: 45px; border-left: 1px solid #dcdcdc; }
.smarthomeMain .tabSmarthome > a.home:before { background-position: 0px 0px; }
.smarthomeMain .tabSmarthome > a.life:before { left: 15px; background-position: -30px 0px; }

.smarthomeMain .bnSlide .slideNavi {position:absolute;bottom:30px;left:0;width:100%;}
.smarthomeMain .titDep3 {padding:20px 0 15px;font-weight:normal; background-color: #fff;}

.smarthomeMain .package { padding-bottom: 25px; background-color: #eee; }
.smarthomeMain .package .titDep3 { border-bottom: 1px solid #e4e4e4; }
.smarthomeMain .package .package-tab { display: flex; padding: 5px 15px 15px; }
.smarthomeMain .package .package-tab > a { flex: 1; font-size: 15px; color: #111; text-align: center; }
.smarthomeMain .package .package-tab > a + a { border-left: 1px solid #dcdcdc; }

.smarthomeMain .package ul { position: relative; padding: 50px 15px 0px; }
.smarthomeMain .package ul > li {  }
.smarthomeMain .package .package-item { display: block; border: 1px solid #e1e1e1; background-color: #fff; }
.smarthomeMain .package .package-item figure { margin: 0; }
.smarthomeMain .package .package-item img { width: 100%; }
.smarthomeMain .package .package-item figcaption { position: relative; padding: 10px 15px; background-color: #f4f0e7; }
.smarthomeMain .package .package-item figcaption del { display: block; font-size: 12px; color: #666; }
.smarthomeMain .package .package-item figcaption .price { font-size: 10px; color: #e3002b; }
.smarthomeMain .package .package-item figcaption .price em { font-size: 22px; font-weight: bold; }
.smarthomeMain .package .package-item figcaption .dc { display: block; position: absolute; top: 50%; right: 15px; margin-top: -18px; padding: 6px 7px 0 5px; height: 30px; font-size: 12px; color: #fff; line-height: 13px; text-align: center; background-color: #e3002b; }
.smarthomeMain .package .package-item figcaption .dc:before { content: ''; position: absolute; top: 0px; left: -10px; height: 0; width: 0; border-top: 18px solid transparent; border-bottom: 18px solid transparent; border-right: 10px solid #e3002b; }


.smarthomeMain .slick-dots { display: flex; position: absolute !important; top: -40px; right: 0; left: 0; }
.smarthomeMain .slick-dots > li { flex: 1; text-align: center; }
.smarthomeMain .slick-dots > li + li { border-left: 1px solid #dcdcdc; }
.smarthomeMain .slick-dots button { font-size: 15px; color: #111; background-color: transparent; }
.smarthomeMain .slick-dots > li.slick-active button { font-weight: bold; }



/* ==================================
* smart home list
================================== */
.smarthomeList .sort_area {padding:15px 15px 10px}
.smarthomeList .sort_area:after {content:"";display:block;clear:both}
.smarthomeList .sort_area p {margin-top:15px}

.smarthomeList  ul {border-top:1px solid #e7e7e7}
.smarthomeList  ul li {position:relative;overflow: hidden;padding:0px;border-bottom:1px solid #e7e7e7}
.smarthomeList  ul li a { display: block; position: relative; padding: 30px 15px 22px 125px; min-height: 100px; }
.smarthomeList  ul li .img_area {display: block; position: absolute; top: 30px; left: 15px; width: 95px; text-align:center;box-sizing:border-box;}
.smarthomeList  ul li .img_area img {width:100%;}
.smarthomeList  ul li dl dt {margin-bottom:15px;font-size:17px;font-weight:bold}
.smarthomeList  ul li dl dt span {display:block;}
.smarthomeList  ul li dl dt span em {margin-left:3px;padding:1px 4px 2px;border-radius:3px;font-size:10px;color:#fff}
.smarthomeList  ul li dl dt span .hot {background:#f65d00}
.smarthomeList  ul li dl dt span .limit {background:#00a49a}
.smarthomeList  ul li dl dt strong { display: block; overflow: hidden; max-height: 40px; }
.smarthomeList  ul li dl dt i { display: inline-block; height: 14px; padding: 0 6px; font-size: 10px; color: #fff; line-height: 14px; font-style: normal; border-radius: 2px; background-color: #00a49a; }
.smarthomeList  ul li dl dd span {display:block;font-size:14px;color:#666;text-decoration:line-through}
.smarthomeList  ul li dl dd span em {font-size:10px}
.smarthomeList  ul li dl dd strong {display:inline-block;position:relative;font-size:24px;color:#e3002b}
.smarthomeList  ul li dl dd strong em {font-size:12px}
.smarthomeList  ul li dl dd strong i {position:absolute;top:-10px;right:-30px;height:16px;padding:0 5px 0 0;background:#434159;font-size:10px;font-style:normal;color:#fff;line-height:15px}
.smarthomeList  ul li dl dd strong i:before {content:"";position:absolute;top:0px;left:-8px;width:0;height:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-right:8px solid #434159}
.smarthomeList  ul li dl.package-item {  }
.smarthomeList  ul li dl.package-item dd strong { display: block; }
.smarthomeList  ul li dl.package-item dd strong i.subsidy { display: block; position: absolute; top: 50%; right: 0px; margin-top: -18px; padding: 6px 7px 0 5px; height: 30px; font-size: 12px; font-style: normal; color: #fff; line-height: 13px; text-align: center; background-color: #e3002b; }
.smarthomeList  ul li dl.package-item dd strong i.subsidy:before {content: ''; position: absolute; top: 0px; left: -10px; height: 0; width: 0; border-top: 18px solid transparent; border-bottom: 18px solid transparent; border-right: 10px solid #e3002b; }
.smarthomeList  ul li .stock {position:absolute;top:15px;left:15px;border-bottom:1px solid #d23c00;font-size:14px;font-weight:bold;color:#d23c00}
.smarthomeList  ul li .stock strong {font-size:24px;}
.smarthomeList  ul li .favorite {display:block;position:absolute;top:30px;right:15px;z-index:10;width:18px;height:25px;background:url('../../img/direct/ico_item_pick.png') no-repeat center top;background-size:18px;text-indent:-9999em;cursor:pointer}
.smarthomeList  ul li .favorite.on {background-position: center bottom}
.smarthomeList .moreBoxType1 {width:auto;margin: 15px 15px 20px;}

.smarthomeList .none { padding: 100px 0; font-size: 17px; color: #111; text-align: center; line-height: 24px; border-top: 1px solid #e7e7e7; }
.smarthomeList .none em { color: #e3002b; }
.smarthomeList .none small { font-size: 13px; color: #666; }



/* ==================================
* smarthome product detail
================================== */
.smarthomeProductDetail .topHead.option_tap h1 {padding-right:0;padding-left:46px;text-align:center}
.smarthomeProductDetail .topHead.option_tap h1:before {display:none}
.smarthomeProductDetail .gallerySlide {padding:10px 0 20px;background:#FFF;text-align:center}
.smarthomeProductDetail .gallerySlide .swiperCon li img{margin:0 auto;width:200px}
.smarthomeProductDetail .gallerySlide .slideNavi {margin-bottom:10px}
.smarthomeProductDetail .gallerySlide .btnWhite {width:auto;padding:0 10px;border:1px solid #e4e4e4}

/* 서비스 가입 유형 */
.smarthomeProductDetail .titDep4 {  }

.smarthomeProductDetail .single-options { padding: 25px 15px 30px; background-color: #fff; }
.smarthomeProductDetail .single-options .select { margin-top: 10px; }

.smarthomeProductDetail .guide-bridge { padding: 25px 15px 20px; background-color: #f7f7f7; }
.smarthomeProductDetail .guide-bridge .titDep4 { font-size: 17px; font-weight: bold; color: #333; line-height: 23px; }
.smarthomeProductDetail .guide-bridge .desc { margin-top: 10px; font-size: 15px; color: #666; line-height: 20px; }

.smarthomeProductDetail .buy-bridge { padding: 25px 15px 30px; border-top: 1px solid #e4e4e4; background-color: #fff; }
.smarthomeProductDetail .buy-bridge ul { display: flex; margin-top: 10px; }
.smarthomeProductDetail .buy-bridge ul > li { flex: 1; position: relative; }
.smarthomeProductDetail .buy-bridge ul > li + li { margin-left: -1px; }
.smarthomeProductDetail .buy-bridge ul > li > input[type=radio] { position: absolute; left: -9999px; }
.smarthomeProductDetail .buy-bridge ul > li > label { display: block; padding: 10px 0; height: 41px; font-size: 13px; font-weight: bold; color: #333; line-height: 20px; text-align: center; border: 1px solid #ccc; }
.smarthomeProductDetail .buy-bridge ul > li > label:before { content: none; }
.smarthomeProductDetail .buy-bridge ul > li > label > small { font-size: 13px; font-weight: normal; color: #666; }
.smarthomeProductDetail .buy-bridge ul > li > input[type=radio]:checked + label { position: relative; z-index: 1; color: #ea002c; border: 1px solid #ea002c; }

.smarthomeProductDetail .service-type { padding: 25px 15px 30px; background-color: #fff; }
.smarthomeProductDetail .service-type .btn-help { display: inline-block; margin-top: -2px; height: 19px; width: 19px; text-indent: -9999px; vertical-align: middle; background-position: -60px 0; background-image: url('../../img/smarthome/sprites_smarthome.png'); background-size: 150px; }
.smarthomeProductDetail .service-type .list-service-type { display: flex; margin-top: 10px; }
.smarthomeProductDetail .service-type .list-service-type > li { flex: 1; position: relative; }
.smarthomeProductDetail .service-type .list-service-type > li + li { margin-left: -1px; }
.smarthomeProductDetail .service-type .list-service-type > li > input[type=radio] { position: absolute; left: -9999px; }
.smarthomeProductDetail .service-type .list-service-type > li > label { display: block; padding: 10px 0px; height: 41px; font-size: 13px; font-weight: bold; color: #333; line-height: 20px; text-align: center; border: 1px solid #ccc; }
.smarthomeProductDetail .service-type .list-service-type > li > label:before { content: none; }
.smarthomeProductDetail .service-type .list-service-type > li > label > small { font-size: 13px; font-weight: normal; color: #666; }
.smarthomeProductDetail .service-type .list-service-type > li > label.device { line-height: 41px; }
.smarthomeProductDetail .service-type .list-service-type > li > input[type=radio]:checked + label { position: relative; z-index: 1; color: #ea002c; border: 1px solid #ea002c; }

.smarthomeProductDetail .service-type-sub { display: none; }
.smarthomeProductDetail .sep-arrow { position: relative; margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd; }
.smarthomeProductDetail .sep-arrow:before { content: ''; display: block; position: absolute; top: -1px; left: 50%; height: 8px; width: 12px; margin-left: -6px; background-position: -90px 0; background-image: url('../../img/smarthome/sprites_smarthome.png'); background-size: 150px; }
.smarthomeProductDetail .service-type-sub .desc { margin-top: 20px; font-size: 13px; color: #ea002c; text-align: right; }

.smarthomeProductDetail .list-radio { }
.smarthomeProductDetail .list-radio > li { position: relative; padding-top: 10px; }
.smarthomeProductDetail .list-radio input[type=radio] { position: absolute; left: -9999px; }
.smarthomeProductDetail .list-radio input[type=radio]:checked + label { color: #ea002c; border: 1px solid #ea002c; }
.smarthomeProductDetail .list-radio label { display: block; padding: 0 15px; font-size: 12px; color: #333; line-height: 56px; border: 1px solid #ccc; }
.smarthomeProductDetail .list-radio label .title em { font-size: 20px; }
.smarthomeProductDetail .list-radio label .price { float: right; }
.smarthomeProductDetail .list-radio label .price em { font-size: 15px; }
.smarthomeProductDetail .list-radio label:before { content: none; }

.smarthomeProductDetail .sk-auth {  }
.smarthomeProductDetail .sk-auth .auth { overflow: hidden; margin-top: 11px; }
.smarthomeProductDetail .sk-auth .auth .select { float: left; width: 23.275862068966%; }
.smarthomeProductDetail .sk-auth .auth .inputTxt1 { display: inline-block; float: left; width: 23.275862068966%; }
.smarthomeProductDetail .sk-auth .auth .dash { display: inline-block; float: left; width: 2.413793103448%; color: #ccc; text-align: center; line-height: 35px; }
.smarthomeProductDetail .sk-auth .auth .btnDgray { display: inline-block; float: right; width: 22%; }
.smarthomeProductDetail .sk-auth .desc { clear: both; margin-top: 5px; font-size: 12px; color: #e9002d; text-align: right; }

.smarthomeProductDetail .payment-methods { padding: 25px 15px 30px; background-color: #fff; }

.smarthomeProductDetail .package-options { padding: 25px 15px 15px; background-color: #fff; }
.smarthomeProductDetail .package-options .titDep4 { margin: 0 -15px; padding: 0 0 20px 15px; border-bottom: 1px solid #e7e7e7; }
.smarthomeProductDetail .list-package-options {  }
.smarthomeProductDetail .list-package-options > li { padding: 15px 0; border-top: 1px solid #efefef; }
.smarthomeProductDetail .list-package-options > li:first-child { border-top: 0px; }
.smarthomeProductDetail .list-package-options .option { position: relative; margin: 0 0 15px 0; padding: 0 0 0 68px; height: 53px; }
.smarthomeProductDetail .list-package-options .option .img_area { display: block; overflow: hidden; position: absolute; top: 0; left: 0; height: 53px; width: 53px; }
.smarthomeProductDetail .list-package-options .option .img_area img { width: 100%; }
.smarthomeProductDetail .list-package-options .option .title { font-size: 15px; color: #111; }
.smarthomeProductDetail .list-package-options .option .count { position: absolute; bottom: 0; left: 68px; font-size: 13px; color: #666; }
.smarthomeProductDetail .list-package-options .option .btn-detail { display: block; position: absolute; right: 0; bottom: 0; font-size: 12px; color: #333; text-decoration: underline; }
.smarthomeProductDetail .list-package-options .option .btn-detail:before { content: ''; display: block; position: absolute; top: 50%; left: -15px; margin-top: -6px; height: 12px; width: 12px; background-position: -120px 0; background-image: url('../../img/smarthome/sprites_smarthome.png'); background-size: 150px; }

.smarthomeProductDetail .bgWaterR {padding-top:13px}
.smarthomeProductDetail .bgWaterR .titDep4 { display: block; margin: 0 -15px; padding: 15px 0 12px 15px; font-size: 17px; font-weight: bold; color: #fff; border-bottom: 1px solid #fff; }
.smarthomeProductDetail .bgWaterR dl {overflow:hidden}
.smarthomeProductDetail .bgWaterR dl dt {float:left;width:50%;padding:12px 0;font-size:15px;color:#FFF}
.smarthomeProductDetail .bgWaterR dl dd {float:left;width:50%;padding:12px 0;font-size:15px;color:#FFF;text-align:right}
.smarthomeProductDetail .bgWaterR dl dd span {font-size:11px}
.smarthomeProductDetail .bgWaterR dl dd strong {font-size:22px;font-weight:normal}
.smarthomeProductDetail .bgWaterR p {margin-top: 10px; font-size:12px;color:#FFF}
.smarthomeProductDetail .bgWaterR dl dd + dt,
.smarthomeProductDetail .bgWaterR dl dd + dt + dd {border-top:1px solid #f14e6c}

.smarthomeProductDetail .askCall {padding:32px 0 32px 60px;background: url('../../img/common/bg_caution.png') no-repeat 15px center #FFF;background-size: 32px 32px;background-size: 32px 32px;}
.smarthomeProductDetail .askCall a {color:#e3002b;border-bottom:1px solid #e3002b}

.smarthomeProductDetail .bnArea img {display:block;width:100%}

.smarthomeProductDetail .buyWrap {position:fixed;bottom:0;left:0;z-index:2;width:100%;padding:11px 15px;background:#434159;box-sizing:border-box}
.smarthomeProductDetail .buyWrap .btnBox {padding:0}
.smarthomeProductDetail .buyWrap .btnBox .btnL {padding-top:10px;font-size:15px;font-weight:normal;line-height:1}
.smarthomeProductDetail .buyWrap .btnBox .btnDgray.on {background:#f65d00}
.smarthomeProductDetail .buyWrap .btnBox .btnDgray em {padding-left:21px;background:url('../../img/direct/ico_acc1.png') no-repeat left 0px; background-size:16px;}
.smarthomeProductDetail .buyWrap .btnBox .btnRed em {padding-left:21px;background:url('../../img/direct/ico_acc1.png') no-repeat left -41px; background-size:16px;}
.smarthomeProductDetail .buyWrap .btnBox.btnSoldout .btnRed em {background-position:left bottom}
.smarthomeProductDetail .buyWrap .btnBox.btnSoldout .btnL em {opacity:.5}
.smarthomeProductDetail .buyWrap .dropSelect.color_select .select_drop {position:static;top:auto;left:auto;max-height:none}
.smarthomeProductDetail .buyWrap .open {display:block;position:absolute;top:-13px;left:50%;width:48px;height:13px;margin-left:-24px;background:url('../../img/direct/bg_layer_open.png') no-repeat center top;background-size:48px 13px;text-indent:-9999em}


/* ==================================
* smart home order
================================== */
.orderDetail { padding-bottom: 0; background-color: #ececec; }
.orderDetail .orderBox {background:#fff; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; margin-top:5px; padding:28px 15px;}
.orderDetail .orderBox:last-child {padding-bottom:50px;}
.orderDetail .order-major-info { padding: 28px 15px; border-bottom: 1px solid #dfdfdf; background-color: #fff; }

.order-info { overflow: hidden; margin-right: -15px; margin-left: -15px; padding: 20px 15px; font-size: 17px; color: #fff; line-height: 23px; text-shadow: -1px -1px 0 #d23c00, 1px -1px 0 #d23c00, -1px 1px 0 #d23c00, 1px 1px 0 #d23c00; background-color: #f65d00; }
.list-order-info { margin-right: -15px; margin-left: -15px; }
.list-order-info > li { margin: 0 15px; padding: 0; min-height: 50px; font-size: 16px; color: #333; border-top: 0px; border-bottom: 1px dashed #e4e4e4; }
.list-order-info > li:first-child { margin: 0; padding: 0 15px; border-bottom: 1px solid #e4e4e4; }
.list-order-info > li:last-child { border-bottom: 0px; }
.list-order-info > li > .title,
.list-order-info > li > a > .title { font-weight: bold; line-height: 50px; }
.list-order-info > li .content { float: right; line-height: 50px; }
.list-order-info > li > .tglBtn { display: block; position: relative; padding: 0; color: #333; background-color: #fff; }
.list-order-info > li > .tglBtn:after { content: ''; display: block; position: absolute; top: 50%; right: 0px; margin-top: -4px; height: 8px; width: 14px; background-position: 0px -30px; background-image: url('../../img/smarthome/sprites_smarthome.png'); background-size: 150px; }
.list-order-info > li.on .options { display: block; }
.list-order-info > li.on > .tglBtn:after { background-position: -30px -30px; }
.list-order-info .options { display: none; margin-bottom: 15px; padding: 15px; border: 1px solid #e4e4e4; background-color: #f7f7f7; }
.list-order-info .options li { font-size: 15px; color: #333; line-height: 30px; }
.list-order-info .options li em { font-weight: bold; }
.list-order-info .options li .count { float: right; }

.order-total { margin-right: -15px; margin-left: -15px; padding: 10px 15px 5px 15px; color: #fff; background-color: #434159; }
.order-total ul {  }
.order-total ul > li { overflow: hidden; padding: 15px 0; }
.order-total ul > li + li { border-top: 1px solid #7c7a8b; }
.order-total ul > li > .title { font-size: 20px; font-weight: bold; }
.order-total ul > li > .title small { font-size: 12px; font-weight: normal; }
.order-total ul > li > .content { float: right; font-size: 22px; text-align: right; }
.order-total ul > li > .content em { font-size: 27px; }
.order-total ul > li > .content small { display: block; margin-top: 5px; font-size: 12px; }
.order-total ul > li.multiple {  }
.order-total ul > li.multiple > .content { float: none; margin-top: 10px; }


.order-finish { padding: 0 15px; }
.order-finish .order-number { overflow: hidden; font-size: 15px; font-weight: bold; color: #333; line-height: 40px; border: 1px solid #e4e4e4; }
.order-finish .order-number dt { display: block; float: left; padding: 0 15px; text-align: center; background-color: #f3f3f3; }
.order-finish .order-number dd { display: block; float: left; padding-left: 15px; }

.order-finish .popup-warning { margin-top: 75px; padding: 12px 0; font-size: 15px; color: #666; line-height: 19px; text-align: center; border: 1px solid #ccc; background-color: #f7f7f7; }


/* ==================================
* smart home mypage
================================== */
